# Exploring-Opportunities-in-the-Indian-Startup-Ecosystem

# 1. Description
Our team aims to strategically enter the Indian Startup Ecosystem by leveraging data-driven insights to identify high-potential opportunities. Through comprehensive research and analysis, we seek to gain insight into funding received by startups in India from 2018 to 2021.

The project followed the Cross Industry Standard Process for Data Mining (CRISP-DM) framework methodology to solve the problem at hand.

# 2. Business Understanding
By [THE TIMES OF INDIA](https://timesofindia.indiatimes.com/business/india-business/india-becomes-third-largest-startup-ecosystem-in-the-world/articleshow/85871428.cms), India has emerged as the third largest startup ecosystem in the world after US and China. Following this, our team aims to strategically enter the Indian Startup Ecosystem by leveraging data-driven insights to identify high-potential opportunities. Through comprehensive research and analysis, we seek to gain insight into funding received by startups in India from 2018 to 2021.

### 2.1. Hypothesis
**Null Hypothesis (Ho):** The sector of a startup has no significant influence on the funding it receives.<br>

**Alternative Hypothesis (Ha):** The sector of a startup has significant influence on the funding it receives.

### 2.2.  Analytical Questions
1. How have funding trends evolved over the years?
- Funding trend over the years<br>
- Funding evolution across funding stages over the years<br>
- Funding trend across the top locations<br>
- Funding evolution across top 4 sectors over the years?<br>
2. Is there a correlation between the year a startup received funding and the amount of funding it received?<br>
3. How does funding vary across the locations of startups' headquarters
4. Which sectors can be considered the most attractive?
- Determine the top 10 sectors by total funding received<br>
- Median funding per sector
5. Is there a relationship between funding stage and the amount of funding?
- Determine total funding per funding stage
- Determine median funding per stage

# 3.  Data Understanding
This data provides information into amount of money startups received from 2018 to 2021, the sector of startups, headquaters, what a startup do, the year of establishment, startup name, investors, and stage.<br>

`Feature Description`:
- **Company_Brand:** Name of startup
- **Founded:** Year of establishment
- **HeadQuater:** Location of startup Headquater
- **Sector:** Sector or industry of startup
- **What_it_does:** what the startup does
- **Founders:** Name od founder
- **Investors:** Name of investor
- **Amount:** Amount of investment in USD and INR
- **Statge:** Phase of development (eg. Ideation Stage, Pre-Seed Stage, Seed Stage, Early Stage (Series A, B, etc.))
- **Year:** Year startup received funding

### 3.1. Data Collection

### Import libraries

In [3]:
# Import necesary libraries and packages
import pyodbc
from dotenv import dotenv_values #import the dotenv_values function from the dotenv package
import re
import pandas as pd
import numpy as np
import statsmodels.api as sm
from statsmodels.formula.api import ols
import seaborn as sns
import matplotlib.pyplot as plt
from matplotlib.dates import YearLocator
from matplotlib.ticker import FuncFormatter
from scipy import stats
import warnings
warnings.filterwarnings('ignore')

### Load Environment Variables and Create SQL Server Connection

In [4]:
# Load environment variables from .env file
environment_variables = dotenv_values('.env')
# Access login credentials from  the '.env' file
server = environment_variables.get("SERVER")
database = environment_variables.get("DATABASE")
username = environment_variables.get("UID")
password = environment_variables.get("PWD")

In [ ]:
#  Create Connection connection string
connection_string = f"DRIVER={{SQL Server}};SERVER={server};DATABASE={database};UID={username};PWD={password}"

# connect to the server using pyodbc
connection = pyodbc.connect(connection_string)

### Load Datasets

In [19]:
# Write querry to retrieve tables from database
query1 = "Select * from dbo.LP1_startup_funding2020"
query2 = "Select * from dbo.LP1_startup_funding2021"

# Retrieve dataset from database with connection created
df_2020 = pd.read_sql(query1, connection)
df_2021 = pd.read_sql(query2, connection)

# Load CSV files
df_2018 = pd.read_csv('Data\startup_funding2018.csv')
df_2019 = pd.read_csv('Data\startup_funding2019.csv')

NameError: name 'connection' is not defined

### 3.2. Data Exploration

### 3.3. Issues with the Data
- Duplicated rows
- Missing values
- Inconsistencies in column names and data types
- Transposition errors

#### 2020 Dataset Exploration and Preparation

In [ ]:
# Preview dataframe
df_2020.head(3)

In [ ]:
# Check characteristics of dataframe
print(df_2020.info(), "\n====================== Null Value Percentage ==========================")
# Check for null values
print(pd.DataFrame({"null_value_count": df_2020.isna().sum(), "percentage_null_value": df_2020.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicate
df_2020.loc[df_2020.duplicated()]

Drop Duplicates

In [ ]:
# Drop duplicated rows from DataFrame
df_2020.drop_duplicates(keep = "first", inplace = True)

Column10 has 99.8% null values so we drop it

In [ ]:
# Drop columns10
df_2020.drop(columns = ["column10"], inplace = True)
# Preview remaining columns 
df_2020.columns

#### 2021 Dataset Exploration and Preparation

In [ ]:
# Preview dataframe
df_2021.head(3)

In [ ]:
# Check characteristics of dataframe
print(df_2021.info(), "\n====================== Null Value Percentage ======================")
# Check for null values
print(pd.DataFrame({"null_value_count": df_2021.isna().sum(), "percentage_null_value": df_2021.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicates
df_2021.loc[df_2021.duplicated()]

Drop Duplicates

In [ ]:
# Drop duplicated rows
df_2021.drop_duplicates(keep = "first", inplace = True)

#### 2018 Dataset Exploration and Preparation

In [ ]:
# Preview dataframe
df_2018.head(3)

In [ ]:
# Check characteristics of dataframe
print(df_2018.info(), "\n====================== Null Value Percentage ======================")
# Check for null values
print(pd.DataFrame({"null_value_count": df_2018.isna().sum(), "percentage_null_value": df_2018.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicates
df_2018.loc[df_2018.duplicated()]

Drop Duplicates

In [ ]:
# Drop duplicated rows from DataFrame
df_2018.drop_duplicates(keep = "first", inplace = True)

#### 2019 Dataset Exploration and Preparation

In [ ]:
# Preview dataframe
df_2019.head(3)

In [ ]:
# Check characteristics of dataframe
print(df_2019.info(), "\n====================== Null Value Percentage ======================")
# Check for null values
print(pd.DataFrame({"null_value_count": df_2019.isna().sum(), "percentage_null_value": df_2019.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicate
df_2019.loc[df_2019.duplicated()]

### 3.3. Handling Identified Issues
- Drop duplicates
- Filled missing values.
    1. fill numerical columns with the median value of that column
    2. fill categorical columns with the most frequent values of that column
- Standardise column names and data types
- Error correction

### Add year_funded column to each dataset

In [ ]:
# Add year column to dataframe
df_2020["Year_Funded"] = 2020
df_2021["Year_Funded"] = 2021
df_2019["Year_Funded"] = 2019
df_2018["Year_Funded"] = 2018

# Preview dataframe
df_2020.head(3)

#### Establish uniformity in column names

In [ ]:
# Rename columns
df_2019.rename(columns = {'Company/Brand':'Company_Brand','Amount($)':'Amount', 'What it does': 'What_it_does'}, inplace=True)

df_2018.rename(columns = {'Company Name':'Company_Brand','Industry':'Sector','Round/Series':'Stage','Location':'HeadQuarter','About Company':'What_it_does'}, inplace=True)

In [ ]:
def rename_column(df):
    """
    This function takes in a dataframe and renames the column names to lower case
    """
    df.columns = [col_name.lower() for col_name in df.columns]
    return df

# Apply function to DataFrames
df_2018.pipe(rename_column)
df_2019.pipe(rename_column)
df_2020.pipe(rename_column)
df_2021.pipe(rename_column)

# Preview column names
df_2021.columns

### Verify if column name is standardised

In [ ]:
# Compare if column names are uniform
print(df_2018.columns)
print(df_2019.columns)
print(df_2020.columns)
print(df_2021.columns)

## Concatenate Datasets

In [21]:
# Combine all four datasets into a single dataframe
df_combined = pd.concat([df_2020, df_2021, df_2018, df_2019], axis = 0)
# Reset index to avoid duplication of index
df_combined.reset_index(drop = True, inplace = True)
# Preview combined dataframe
df_combined.head(3)

NameError: name 'df_2020' is not defined

In [ ]:
# Check characteristics of dataframe
print(df_combined.info(), "\n====================== Null Value Count / Percentage ======================")
# Check for null values
print(pd.DataFrame({"null_value_count": df_combined.isna().sum(), "percentage_null_value": df_combined.isna().mean().mul(100) }), "\n====================== Duplicated rows ======================")
# Check for duplicated rows
df_combined.loc[df_combined.duplicated()]

# 4. Data Preparation


## Column Cleaning
### `Column: year_funded`

Change datatype of year_funded column from integer to datatime format

In [ ]:
def year_to_datetime(column):
    """
    Converts year to datetime format
    """
    # Convert year to datetime format
    return pd.to_datetime(column, format = "%Y")

# Apply function to column
df_combined["year_funded"] = df_combined["year_funded"].apply(year_to_datetime)
# Confirm comverted datatype 
df_combined.dtypes

### `Column: amount`

In [ ]:
# Preview unique entries in the amount column
df_combined["amount"].unique()[:40]

Amount, Stage, and investor columns have some of their values interchanged and need to be cleaned

In [ ]:
#Preview unique entries in the stage column
df_combined["stage"].unique()[30:-15]

In [ ]:
df_combined.loc[df_combined["stage"] == "$1200000"]

In [ ]:
# Put values in their appropriate columns
df_combined.at[1710, "amount"], df_combined.at[1710, "stage"] = 1000000, np.NAN
df_combined.at[1571, "amount"], df_combined.at[1571, "stage"] = 300000, np.NAN
df_combined.at[1584, "amount"], df_combined.at[1584, "stage"] = 300000, np.NAN
df_combined.at[1150, "amount"], df_combined.at[1150, "stage"] = 1200000, np.NAN
df_combined.at[1707, "amount"], df_combined.at[1707, "stage"] = 6000000, np.NAN
df_combined.at[1289, "amount"], df_combined.at[1289, "stage"], df_combined.at[1289, "investor"] = 22000000, "Series C", np.NAN
df_combined.at[1290, "amount"], df_combined.at[1290, "stage"], df_combined.at[1290, "investor"] = 5000000, "Seed", np.NAN
df_combined.at[2181, "amount"], df_combined.at[2181, "stage"], df_combined.at[2181, "investor"] = 1000000, "Seed", np.NAN
df_combined.at[1578, "amount"], df_combined.at[1578, "stage"], df_combined.at[1578, "investor"] = 1000000, "Pre-series A", np.NAN

Remove currency signs, convert INR (₹) to USD ($), and convert datatype to float

In [ ]:
# Clean Amount colum and convert Indian Rupee to USD currency
def clean_amount(value):
    """ 
    Removes "$", and "₹"  and converts column to float
    """
    try:
        value = str(value)
        # Remove commas
        value = value.replace(",", "")
        # Check if the amount is in INR and convert to USD assuming 1 USD = 70 INR
        if "₹" in value:
            valuet = value.replace("₹", "")
            return round(float(value) / 70, 2)
        # Check if the amount is in USD
        elif "$" in value:
            value = value.replace("$", "")
            return round(float(value), 2) 
        # If no currency symbol, assume it's already in USD
        else:
            return round(float(value), 2)
    except ValueError:
        # For non-numeric entries, return NaN
        return np.NAN

# Apply the clean_amount function to the 'amount' column
df_combined["amount"] = df_combined["amount"].apply(clean_amount)

# Preview dataframe
df_combined["amount"].unique()[:35]

### `Column: headquarter`

In [ ]:
# Preview unique values in the headquarter column
df_combined["headquarter"].unique()[80:-50]

headquarter, sector, and what it does columns have some of their values interchanged and needs to be cleaned

In [ ]:
df_combined.loc[df_combined["headquarter"] == "Food & Beverages"]

In [5]:
# Put values in their appropriate columns
df_combined.at[1288	, "headquarter"], df_combined.at[1288	, "sector"] = "Hauz Khas", "Food & Beverages"
df_combined.at[1289, "headquarter"], df_combined.at[1289, "sector"], df_combined.at[1289, "what_it_does"] = "None", "Pharmaceuticals", "None"
df_combined.at[1290, "what_it_does"] = df_combined.at[1290, "sector"]
df_combined.at[1290, "headquarter"], df_combined.at[1290, "sector"] = "Gurugram", "None"
df_combined.at[2133, "what_it_does"] = df_combined.at[2133, "sector"]
df_combined.at[2133, "headquarter"], df_combined.at[2133, "sector"] = "None", "Online Media"
df_combined.at[2209, "headquarter"], df_combined.at[2209, "sector"] = "Manchester, Greater Manchester", "Information Technology & Services"

NameError: name 'df_combined' is not defined

Correct spelling mistakes in the headquarter column

In [4]:
def clean_column(value):
    """
    Corrects misspelled values, splits string at the comma, and takes the first string
    """
    replacement = {"New Delhi": "Delhi", "New New Delhi": "Delhi", "San Franciscao": "San Francisco", "San Francisco Bay Area": "San Francisco",
                   "Bangaldesh": "Bangladesh", "Milano": "Milan", "Newcastle Upon Tyne": "Newcastle", "Hyderebad": "Hyderabad", "Banglore": "Bengaluru",
                   "Bangalore": "Bengaluru", "Santra": "Santa", "Orissa": "Odisha", "Kormangala": "Koramangala", "Cochin": "Kochi", "Orissia": "Odisha",
                   "Thiruvananthapuram": "Trivandrum", "Samsitpur": "Samastipur", "Telugana": "Telangana", "Gurgaon": "Gurugram", "Rajastan": "Rajasthan",
                   "Uttar pradesh": "Uttar Pradesh", "Ahmadabad": "Ahmedabad"}
    
    value = str(value)
    # Condition ensures function processes non-None values
    if value is not None:
        for old_value, new_value in replacement.items():
            # Split comma separated values and extract the first value
            value = value.split(",")[0]
            # Replace mispelled values with corrected spelled values
            value = value.replace(old_value, new_value)
        return value

# Apply function to column
df_combined["headquarter"] = df_combined["headquarter"].apply(clean_column)

NameError: name 'df_combined' is not defined

Check for entries containing only special characters

In [ ]:
# Regular expression to match strings containing only special characters
special_chars = r'^[^\w\s]+$'

# Filter the DataFrame to include only entries with "what_it_does" containing only special characters
print(df_combined[df_combined["headquarter"].str.contains(special_chars, na=False)])

print("\nThere is no special character present in the column")

Preview headquarter column

In [ ]:
# Replace "nan" with np.NAN for it to be recognised as a null value
df_combined["headquarter"].replace("nan", np.NAN, inplace = True)
df_combined["headquarter"].replace("None", np.NAN, inplace = True)
# Preview column
df_combined["headquarter"].unique()[:20]

Categorising headquarter based on location

In [ ]:
def city_names(value):
    """
    Replaces sub cities with their major cities
    """
    cities = {"Bengaluru": ["Bengaluru City", "Koramangala"], "Delhi": ["Kalkaji", "Hauz Khas", "Azadpur"], "California": ["San Francisco", "Mountain View", "San Ramon", "Irvine"],
            "Tamil Nadu": ["Chennai", "Tirunelveli", "Guindy", "Mylapore", "Kalpakkam"], "Maharashtra": ["Andheri", "Thane", "Worli"],
            "Uttar Pradesh": ["Ghaziabad", "Uttar", "Lucknow", "Kanpur", "Noida"], "Rajasthan": ["Alwar", "Rajasthan"], "Mumbai": ["Powai", "Andheri"],
            "Kerala": ["Kochi", "Alleppey", "Kannur", "Ernakulam", "Trivandrum"], "Margão": ["Goa"], "Anand": ["Gujarat"], "Hyderabad": ["Telangana"],
            "Bihar": ["Samastipur", "Bihar"], "Rajasthan": ["Jodhpur"], "Gurgaon": ["Gurugram"]}
    
    # Put headquarter into categories
    for major_city, sub_city in cities.items():
        if value in sub_city:
            value = major_city
    return value

# Apply function to column
df_combined["headquarter"] = df_combined["headquarter"].apply(city_names)
# Preview column
df_combined["headquarter"].unique()

### `Column: stage`

In [ ]:
df_combined["stage"].unique()

Categorise Stages of funding according to the Indian Startup Ecosystem [Funding Guide](https://www.startupindia.gov.in/content/sih/en/funding.html) 

| Stages Classification | Description | Stages of funding per Data given |
|----------|-----------|-----------|
| Ideation | Brainstorming and developing business concepts, defining value propositions, and outlining plans | Pre-seed, Pre-Seed, Pre seed Round, Early seed, Pre-seed Round, Pre seed round |
| Validation | Validating the business model, product-market fit, and scalability through research and feedback | Angel, Seed, Seed A, Seed Funding, Seed round, Seed Round, Seed Round & Series A, Seed Investment, Angel Round, Seed fund, Seed funding, Seed+, Grant, Corporate Round |
| Early Traction | Gaining initial traction, attracting early adopters, and refining based on feedback | Series A, Series A-1, Series A+, Series A2, Seies A, Pre-Series A, Pre-series A, Pre series A1, Pre-series A1, Post series A, Pre Series A, Pre series A, Pre-series, Pre- series A, Venture - Series Unknown |
| Scaling | Expanding operations, customer base, and market reach for rapid growth | Series B, Series B2, Series B3, Series C, Series C, D, Series D, Series D1, Series E, Series F, Series F1, Series F2, Series G, Series H, Series I, Mid series, Pre-series B, Pre-Series B, Pre series B, Pre-series C, Pre series C, Bridge, Edge, Series B+, Post-IPO Equity, Debt, Debt Financing, Private Equity (PE), PE, Private Equity |
| Exit Options | Considering exit strategies such as mergers, acquisitions, or IPOs | Post-IPO Debt, Bridge Round |
| Others | Stages with unknown class | Fresh funding, Funding Round, Non-equity Assistance, Secondary Market, Undisclosed, https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593 |

Group stages according to the Indian Startup Ecosystem funding stage

In [ ]:
def stage_classification(value):
    """
    Groups stages according to the Indian Startup Ecosystem funding stage
    """
    classification = {"Ideation": ["Pre-seed", "Pre-Seed", "Pre seed Round", "Early seed", "Pre-seed Round", "Pre seed round"],
                "Validation": ["Angel", "Seed", "Seed A", "Seed Funding", "Seed round", "Seed Round", "Seed Round & Series A", "Grant",
                "Seed Investment", "Angel Round", "Seed fund", "Seed funding", "Seed+",  "Corporate Round"],
                "Early Traction": ["Series A", "Series A-1", "Series A+", "Series A2", "Seies A", "Pre-Series A", "Pre-series A", "Pre- series A",
                "Venture - Series Unknown", "Pre series A1", "Pre-series A1", "Post series A", "Pre Series A", "Pre series A", "Pre-series"],
                "Scaling": ["Series B+", "Series B", "Series B2", "Series B3", "Series C", "Series C, D", "Series D", "Series D1", "Series E",
                "Series F", "Series E2", "Series F1", "Series F2", "Series G", "Series H", "Series I", "Mid series", "Bridge", "Edge", "Pre-series C",
                "Pre series C", "Pre-series B", "Pre-Series B", "Pre series B", "Private Equity (PE)", "PE", "Private Equity"],
                "Exit Options": ["Post-IPO Debt", "Post-IPO Equity", "Debt", "Debt Financing", "Bridge Round"],
                "Others": ["Fresh funding", "Funding Round", "Non-equity Assistance", "Secondary Market", "Undisclosed",
                           "https://docs.google.com/spreadsheets/d/1x9ziNeaz6auNChIHnMI8U6kS7knTr3byy_YBGfQaoUA/edit#gid=1861303593"]}
    
    # Put stages under class
    for classes, stage in classification.items():
        if value in stage:
            value = classes
    return value

# Apply function to column
df_combined["stage"] = df_combined["stage"].apply(stage_classification)
# Preview column
df_combined["stage"].unique()

### `Column: sector`

In [ ]:
# Preview unique entries in the column
df_combined["sector"].unique()[:30]

The sectors column has both single and list of categories separated by commas , indicating the multiple sectors a particular business might be involved in. <br>Extract the sector before the first comma.

In [ ]:
# Regular expression to capture the first value separated by commas
regex = r"^([^,]+)"

# Function to extract first value if it exists, otherwise return the original single-entry value
def extract_first_word(value):
    # Convert NoneType value to string to avoid errors when iterating over values
    value = str(value)
    if "," in value:
        match = re.match(regex, value)
        if match:
            return match.group(1)
    return value

# Apply the function to the column
df_combined["sector"] = df_combined["sector"].apply(extract_first_word)

# Preview unique entries in the sector column
df_combined["sector"].unique()[:30]

In [ ]:
# Function to categorize industries
def categorize_industry(industry):
    categories = {
        "Finance sector": r"(Accounting|FinTech|Finance|Venture capital|InsureTech|Investment|Financial Services|Banking|Lending|Insurance|Mutual Funds|Capital Markets|Wealth Management|Investment Banking|Online financial service|Escrow)",
        "Education & Training": r"(Provides online learning classes|EdTech|Education|E-learning|Learning|Teaching|Training|School|College|University|Tutoring|Coaching|Classes|Course|Degree|Skills|Edtech|Skill development|EdTech Startup|Education Management|Professional Training|Coaching|Training|Higher Education)",
        "Agriculture & Environment": r"(Tobacco|Fishery|Agri|Agriculture|Farm|Farming|AgTech|Food & Agriculture|Soil-Tech|Environmental|Environment|Sustainability|Sustainable|CleanTech|Green|Pollution|Waste|Recycling|Biomaterials|Environmental Services|Environmental Consulting|Agritech startup|Renewables & Environment|Environmental service|AgriTech)",
        "Health care": r"(Alternative Medicine|Wellness|Healthcare|Dental|Health|HealthTech|Medtech|Biotechnology|Pharmaceuticals|Healthcare|Fertility tech|Fitness|Mental Health|Life sciences|Health Insurance|Pharma|Biopharma|Medical|Health care|Diabetes|Medical Device|Health Diagnostics|Hospital)",
        "Food & Beverage": r"(Dairy startup|Food|Beverages|Restaurant|Dining|Nutrition|Snack Food|Cafe|Brewery|Bar|Craft Beer|Wine|Spirits|Beer|FoodTech|QSR|Restaurant|Food Production|Food & Beverages|Fusion beverages|Food Industry|Food Delivery|Dairy startup|Beverage)",
        "Retail & E-commerce": r"(Appliance|Beauty & wellness|Commercial|Eyeglasses|Merchandise|Social commerce|Commerce|Estore|E store|Retail|E-commerce|Marketplace|Online Portals|Social Commerce|Retail Tech|E-tail|E-market|D2C|Direct-to-consumer|Shopping|Fashion|Clothing|Apparel|Jewellery|Beauty|Cosmetics|E-store|Furniture|Consumer goods|Consumer Electronics|Consumer|Eyewear|Ecommerce|Retail startup|Retail Aggregator|E-Commerce Platforms|D2C Business|D2C startup|E-marketplace|D2C jewellery|E-Commerce|Consumer Goods|Consumer software|Consumer appliances|Consumer Services)",
        "Energy & utility": r"(Energy|Utility|CleanTech|Renewable Energy|Solar|Wind|Hydro|GreenTech|Energy Storage|Oil|Gas|Renewable player|Energy & utility|Power|Fuel|Electricity|Energy|Energy Management|Energy Efficiency|Solar Monitoring Company|Solar solution)",
        "Logistics & Transportation": r"(Logistics|Transportation|Delivery|Shipping|Freight|Supply Chain|Warehousing|Distribution|Cargo|Trucking|Mobility|Fleet|Parcel|Courier|B2B Supply Chain|Transport|Transport Automation|Last Mile Transportation|Transportation|Mobility/Transport|Vehicle|Bike|Car|Automotive|Auto-tech|EV|Electric Vehicle|Logistics & Supply Chain)",
        "Real Estate & Construction": r"(Accomodation|Real Estate|Property|Housing|Construction|Building|Architecture|Infrastructure|Development|Home|Apartment|House|Commercial Real Estate|Residential|Rental|Co-working|Coworking|Co-living|Interior Design|Home Decor|Real estate|Interior|Construction tech|Real Estate & Construction|Property Management|Housing Marketplace|Real Estate)",
        "Media & Entertainment": r"(FM|Blogging|Online storytelling|Basketball|Games|Online Games|Mobile Games|Media|Entertainment|Content|Music|Video|Streaming|TV|Film|Podcast|Broadcasting|Publishing|News|Digital Media|Social Media|Advertising|Marketing|Gaming|Sports|Events|SportsTech|Media and Entertainment|Digital Entertainment|Visual Media|Online Media|Content creation|Content publishing|Celebrity Engagement)",
        "Consumer Services": r"(Legal|Cooking|Advisory firm|Consumer Services|Service|Hospitality|Hotel|Travel|Tourism|Leisure|Customer|Customer service|Professional Services|Consulting|Home services|Lifestyle|Personal care|Dating|Consumer Services|Pet care|Veterinary|Personal Care|Tourism|Hotel|Events|Service industry|Recruitment|Staffing|HR Tech startup|HR Tech|Job portal|Job discovery platform)",
        "Industrial & Manufacturing": r"(Aero company|Aeorspace|Automobile|Aviation|Battery|Tyre management|Industrial|Manufacturing|Engineering|Automotive|Machinery|Equipment|Robotics|Industrial Automation|Aerospace|Defense|Construction|Mining|Chemical|Material|Metallurgy|Heavy Industry|Factory|Production|Assembly|Textiles|Construction tech|Manufacturing|Manufacturing startup|Automotive company|Automobile Technology|Industrial Automation|Mechanical Or Industrial Engineering|Mechanical & Industrial Engineering)",
        "Communication & Networking": r"(Communication|Networking|Telecommunication|Network|Platform|Social Network|Messaging|Collaboration|Media & Networking|Network Security|Telecommuncation|Networking platform|Telecommunications|Networking)",
         "Technology sector": r"(Reading Apps|Internet|OTT|Data Analytics|Data Intelligence|Android|3D Printing|B2B|Crypto|Data Science|IT|Scanning app|IT company|Tech|AI|IoT|SaaS|Software|Cloud|AR|VR|Blockchain|Automation|Robotics|Cybersecurity|Big Data|Machine Learning|Developer Tools|Information Technology|Computer)"
    }
    
    for category, pattern in categories.items():
        if re.search(pattern, industry, re.IGNORECASE):
            return category
    return industry

# Apply function to the column
df_combined["sector"] = df_combined["sector"].apply(categorize_industry)
# Preview unique entries in the column
df_combined["sector"].unique()

Check for entries containing only special characters

In [ ]:
# Regular expression to match strings containing only special characters
special_chars = r'^[^\w\s]+$'

# Filter the DataFrame to include only entries with "what_it_does" containing only special characters
df_combined[df_combined["sector"].str.contains(special_chars, na=False)].head(3)

Replace special characters with null values

In [ ]:
# Replace special characters with null values
df_combined["sector"] = df_combined["sector"].replace("—", np.NAN)
df_combined["sector"] = df_combined["sector"].replace("nan", np.NAN)

### `Column: founded`

In [ ]:
df_combined["founded"].unique()

In [ ]:
# Check for data type
df_combined["founded"].dtype

Data type is float and needs to be converted to integer and when you apply a function that converts values in a column to integers but also assigns np.nan to invalid entries, the resulting column will be of type float64. This is because np.nan is a floating-point representation of "Not a Number" (NaN), and a column in a pandas DataFrame that includes np.nan values will be cast to a floating-point type to accommodate these NaN values.<br>

**NB**: As a result, we assign 0 to invalid entries for now.

In [ ]:
def convert_to_integer(value):
    try:
        # convert the value to an integer
        return int(value)
    except ValueError:
        return 0
    
# Apply function to coulmn
df_combined["founded"] = df_combined["founded"].apply(convert_to_integer)
# Confirm datadtype
df_combined["founded"].dtype

### `Column: investor`

In [ ]:
# View unique entries in the column
df_combined["investor"].unique()

Check for entries containing only special characters

In [ ]:
# Regular expression to match strings containing only special characters
special_chars = r'^[^\w\s]+$'

# Filter the DataFrame to include only entries with "what_it_does" containing only special characters
print(df_combined[df_combined["investor"].str.contains(special_chars, na=False)])

print("\n'investor' column has no special character present")

In [ ]:
df_combined[df_combined["investor"] == "http://100x.vc/"]

We need to replace the hyperlink with a null value

In [ ]:
# Replace hyperlink with null value
df_combined["investor"].replace("http://100x.vc/", np.NAN, inplace = True)

### `Column: what_it_does`

In [ ]:
df_combined["what_it_does"].unique()

Check for entries containing only special characters

In [ ]:
# Regular expression to match strings containing only special characters
special_chars = r'^[^\w\s]+$'

# Filter the DataFrame to include only entries with "what_it_does" containing only special characters
print(df_combined[df_combined["what_it_does"].str.contains(special_chars, na=False)])
print("\nThere is no special character present in the column")

We need to replace special characters with Null values

## 5. Fill Null values

#### `Columns: amount, founded`

We are going to fill null values in the column. This will be done according to the year startups received funding due to the difference in data characteristics of each dataset.
- We filter the datasets by year funded and fill them accordingly.
- We fill null values with the median value of each year.<br>

**NB**: Mean is affected by outliers and as a result, we use median.

Because fillna method does not work in-place on a subset of the DataFrame returned by a condition. Instead, we will handle the operation in a step-by-step manner using a function;
- First selecting the rows you want to modify
- Applying the fillna
- Updating the original DataFrame

In [ ]:
# Check the number of null values in each dataset under the amount column
print(f'There are {df_combined[df_combined["year_funded"] == "2018"]["amount"].isna().sum()} null value(s) in the 2018 dataset under the amount column')
print(f'There are {df_combined[df_combined["year_funded"] == "2019"]["amount"].isna().sum()} null value(s) in the 2019 dataset under the amount column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["amount"].isna().sum()} null value(s) in the 2020 dataset under the amount column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["amount"].isna().sum()} null value(s) in the 2022 dataset under the amount column')

We are going to fill the null values in the amount column and reaplace (0)s in the founded column with the median  of each dataset now

In [ ]:
def fillna_with_median(df, condition_column, condition_value, target_column):
    """
    Fills NaN values in the target column with the median of that column,
    and returns the updated DataFrame with NaN values filled.
    """
    # Select rows that match the condition
    subset_df = df[df[condition_column] == condition_value]
    # Compute the median of the target column for these rows
    median_value = subset_df[target_column].median()
    # Fill NaN values in the target column with the median value
    subset_df[target_column].fillna(median_value, inplace=True)
    # Replace (0) with "unknown"
    subset_df[target_column].replace(0, median_value, inplace = True)
    # Update the original DataFrame with the modified subset
    df.update(subset_df)
    return df

# Apply function to fill null values
fillna_with_median(df_combined, "year_funded", "2018", "amount")
fillna_with_median(df_combined, "year_funded", "2019", "amount")
fillna_with_median(df_combined, "year_funded", "2020", "amount")
fillna_with_median(df_combined, "year_funded", "2021", "amount")

# Apply function to replace (0)s with median
fillna_with_median(df_combined, "year_funded", "2019", "founded")
fillna_with_median(df_combined, "year_funded", "2020", "founded")
fillna_with_median(df_combined, "year_funded", "2021", "founded")

# Check if null values are filled
null_value_count_amount = df_combined["amount"].isna().sum()
null_value_count_founded = df_combined["founded"].isna().sum()


print(f'There are {null_value_count_amount} null value(s) present in the amount column')
print(f'There are {null_value_count_founded} (0)s present in the founded column')

#### `Column: headquarter`
Preview null value counts in each dataset

In [ ]:
# Check the number of null values in each dataset under the headquarter column
print(f'There are {df_combined[df_combined["year_funded"] == "2018"]["headquarter"].isna().sum()} null value(s) in the 2018 dataset under the headquarter column')
print(f'There are {df_combined[df_combined["year_funded"] == "2019"]["headquarter"].isna().sum()} null value(s) in the 2019 dataset under the headquarter column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["headquarter"].isna().sum()} null value(s) in the 2020 dataset under the headquarter column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["headquarter"].isna().sum()} null value(s) in the 2021 dataset under the headquarter column')

We are going to fill the null values in the headquarter column with the most frequent value (mode) according to the year

In [ ]:
def fillna_with_mode(df, condition_column, condition_value, target_column):
    """
    Fills NaN values in the target column with the modal value of that column,
    and returns the updated DataFrame with NaN values filled.
    """
    # Select rows that match the condition
    sub_set = df[df[condition_column] == condition_value]
    # Compute the median of the target column for these rows
    mode = sub_set[target_column].mode()[0]
    # Fill NaN values in the target column with the modal value
    sub_set[target_column].fillna(mode, inplace = True)
    # Update the original DataFrame with the modified subset
    df.update(sub_set)
    return df

# Apply function to fill null values
fillna_with_mode(df_combined, "year_funded", "2019", "headquarter")
fillna_with_mode(df_combined, "year_funded", "2020", "headquarter")
fillna_with_mode(df_combined, "year_funded", "2021", "headquarter")

# Check if null values are filled
null_value_count = df_combined["headquarter"].isna().sum()
print(f'There are {null_value_count} null value(s) present in the headquarter column')

#### `Column: sector`
Preview null value counts in each dataset

In [ ]:
# Check the number of null values in each dataset under the sector column
print(f'There are {df_combined[df_combined["year_funded"] == "2018"]["sector"].isna().sum()} null value(s) in the 2018 dataset under the sector column')
print(f'There are {df_combined[df_combined["year_funded"] == "2019"]["sector"].isna().sum()} null value(s) in the 2019 dataset under the sector column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["sector"].isna().sum()} null value(s) in the 2020 dataset under the sector column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["sector"].isna().sum()} null value(s) in the 2021 dataset under the sector column')

We are going to fill the null values in the stage column with the most frequent value (mode) according to the year

In [ ]:
# Apply function to fill null values
fillna_with_mode(df_combined, "year_funded", "2018", "sector")
fillna_with_mode(df_combined, "year_funded", "2019", "sector")

# Check if null values are filled
null_value_count = df_combined["sector"].isna().sum()
print(f'There are {null_value_count} null value(s) present in the sector column')

#### `Column: stage`
Preview null value counts in each dataset

In [ ]:
# Check the number of null values in each dataset under the stage column
print(f'There are {df_combined[df_combined["year_funded"] == "2018"]["stage"].isna().sum()} null value(s) in the 2018 dataset under the stage column')
print(f'There are {df_combined[df_combined["year_funded"] == "2019"]["stage"].isna().sum()} null value(s) in the 2019 dataset under the stage column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["stage"].isna().sum()} null value(s) in the 2020 dataset under the stage column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["stage"].isna().sum()} null value(s) in the 2021 dataset under the stage column')

We are going to fill the null values in the sector column with the most frequent value (mode) according to the year

In [ ]:
# Apply function to fill null values
fillna_with_mode(df_combined, "year_funded", "2019", "stage")
fillna_with_mode(df_combined, "year_funded", "2020", "stage")
fillna_with_mode(df_combined, "year_funded", "2021", "stage")

# Check if null values are filled
null_value_count = df_combined["stage"].isna().sum()
print(f'There are {null_value_count} null value(s) present in the stage column')

#### `Columns: founders, investor`
We won't fill these columns in the 2018 dataset with the modal value because it didn't have these columns. They would rather be filled with **unknown**<br>

Preview null values in each dataset

In [ ]:
# Check the number of null values in each dataset under the founders column
print(f'There are {df_combined[df_combined["year_funded"] == "2019"]["founders"].isna().sum()} null value(s) in the 2019 dataset under the founders column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["founders"].isna().sum()} null value(s) in the 2020 dataset under the founders column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["founders"].isna().sum()} null value(s) in the 2021 dataset under the founders column')

# Check the number of null values in each dataset under the investor column
print(f'\nThere are {df_combined[df_combined["year_funded"] == "2019"]["investor"].isna().sum()} null value(s) in the 2019 dataset under the investor column')
print(f'There are {df_combined[df_combined["year_funded"] == "2020"]["investor"].isna().sum()} null value(s) in the 2020 dataset under the investor column')
print(f'There are {df_combined[df_combined["year_funded"] == "2021"]["investor"].isna().sum()} null value(s) in the 2021 dataset under the investor column')

We are going to fill the null values in the founders and investor columns with the most frequent value (mode) according to the year

In [ ]:
# Apply function to fill null values in the founders column 
fillna_with_mode(df_combined, "year_funded", "2019", "founders")
fillna_with_mode(df_combined, "year_funded", "2020", "founders")
fillna_with_mode(df_combined, "year_funded", "2021", "founders")

# Apply function to fill null values in the investor column 
fillna_with_mode(df_combined, "year_funded", "2020", "investor")
fillna_with_mode(df_combined, "year_funded", "2021", "investor")

# Check if null values are filled
null_value_count_founders = df_combined["founders"].isna().sum()
null_value_count_investor = df_combined["investor"].isna().sum()

print(f"There are {null_value_count_founders} null value(s) present in the founders column\nThere are {null_value_count_investor} null value(s) present in the investor column")

# Print statement
print(f'\nNB: The output is giving 525 counts because 2018 has not been filled yet')

#### `Column: investors, founded`

The 2018 Dataset had no founders, investors and founded columns
- We fill the categorical columns founders and investors with "Unknown".
- Leave numerical column founded as NAN

In [ ]:
def fillna_replace_with_unknown(df, condition_column, condition_value, target_column):
    """
    Fills NaN values in the categorical columns with "Unknown"
    """
    # Select rows that match the condition
    sub_set = df[df[condition_column] == condition_value]
    # Fill NaN values in the target column with "Unknown"
    sub_set[target_column].fillna("Unknown", inplace = True)
    # Update the original DataFrame with the modified subset
    df.update(sub_set)
    return df

# Apply function to fill null values
fillna_replace_with_unknown(df_combined, "year_funded", "2018", "investor")
fillna_replace_with_unknown(df_combined, "year_funded", "2018", "founders")

# Check if null values are filled
null_value_count_investor = df_combined["investor"].isna().sum()
null_value_count_founders = df_combined["founders"].isna().sum()

print(f"There are {null_value_count_investor} null value(s) present in the investor column\nThere are {null_value_count_founders} null value(s) present in the fouonders column")

Explore data after cleaning

In [ ]:
# Preview cleaned data set
df_combined.head(3)

In [ ]:
# Explore the characteristics of the cleaned data
print(pd.DataFrame({"null_value_count": df_combined.isna().sum(), "datatypes": df_combined.dtypes}))
print("\n============ Data shape ==============\n")
print(f"The dataset consists of {df_combined.shape[0]} rows and {df_combined.shape[1]} columns")
print("\n=========== Duplicated rows =================\n", df_combined.duplicated().sum())

In [ ]:
# preview duplicated rows
df_combined[df_combined.duplicated()]

In [ ]:
# Drop duplicated rows
df_combined.drop_duplicates(keep = "first", inplace = True)

# Check if duplicated rows are dropped
print(f"There are {df_combined.duplicated().sum()} duplicated rows present")

In [ ]:
# check statistical summary of the dataset
df_combined.describe(include = "all").T

#### Insights:
- Bengaluru is a major hub for startups, accounting for a substantial portion of the dataset. This indicates a geographic concentration of startup activity in Bengaluru.
- The technology sector is the most prevalent among the startups, highlighting the dominance of tech-oriented businesses in the startup ecosystem.
- The funding amounts vary widely, with a few extremely large values skewing the mean. The majority of startups receive funding in the lower million-dollar range, but there are outliers receiving substantial investments.
- A significant number of startups are in the "Early Traction" stage, suggesting that many are in the initial phases of growth and development.

**NB**: The presence of unknown values in key columns suggests the need for more complete data collection in future analyses.

## 6. Hypothesis Testing

**Null Hypothesis (Ho):** The sector of a startup has no significant influence on the funding it receives.<br>
**Alternative Hypothesis (Ha):** The sector of a startup has significant influence on the funding it receives.

For this hyposthesis testing, we take significant value ($\alpha$) = 0.05

We are going to perform ANOVA analysis to check if the sector of a startup has significant influence on the funding it receives.

In [ ]:
# Perform ANOVA analysis for the factors
factors = ["sector", "headquarter", "stage", "what_it_does"]

model = ols("amount ~ C(sector) + C(headquarter) + C(stage) + C(what_it_does)", data = df_combined).fit()
anova_table = sm.stats.anova_lm(model, type = 2)

# Define the significance level
alpha = 0.05

# Loop through each factor and its corresponding p-value
for factor, p_value in zip(factors, anova_table["PR(>F)"]):
    print(f"Factor: {factor}")
    print(f"p-value: {p_value:.4f}")

    if p_value > alpha:
        print(f"Conclusion: Since the p-value is greater than the significance level {alpha}, we fail to reject the null hypothesis.")
        print(f"This indicates that the {factor} has no significant influence on the funding startups receive.\n")
    else:
        print(f"Conclusion: Since the p-value is less than the significance level {alpha}, we reject the null hypothesis.")
        print(f"This indicates that the {factor} has significant influence on the funding startups receive.\n")

While our analysis did not find a significant effect of the sector on funding, this does not rule out the possibility that other factors could influence funding. For example, the stage of the startup development showed a significant p-value, suggesting that it might be a more important factor.

## 7. Visualising Data

In [ ]:
# Set the size of the figure
plt.figure(figsize = (10, 5))
# Create a violin plot for the "amount" column 
sns.violinplot(df_combined["amount"])
# Add a title to the plot
plt.title("Amount Distribution")
# Display the plot
plt.show()

The plot indicates that while a few startups receive substantial funding, most startups receive much smaller amounts.
This could reflect an investment strategy where investors are willing to place large bets on a few promising startups.

In [ ]:
# Set the size of the figure
plt.figure(figsize = (10,5))
# Create a horizontal bar plot for the top 10 sectors by count
df_combined["sector"].value_counts(ascending = False)[:10].plot(kind = "barh")
# Add title to plot
plt.title("Top Ten Sectors by Count")
# Lanel x-axis
plt.xlabel("Total Count of Sectors")
# Display plot
plt.show()

In [ ]:
# Set figure size
plt.figure(figsize = (10,5))
# # Create a horizontal bar plot for the top 10 sectors by total amount received
df_combined.groupby(by = "sector")["amount"].sum().sort_values(ascending = False)[:10].plot(kind = "barh")
# Add title to plot
plt.title("Total Amount Sectors Received")
# Label x-axis
plt.xlabel("Total Amount (USD in billions)")
# Display plot
plt.show()

1. Finance sector: Despite having only 438 counts 2nd highest, the Finance sector received the highest total funding $159.99 bn,
indicating a significant average funding per project/company.
2. Technology sector: The Technology sector has the highest count 488 but received relatively less funding $8.14 bn
compared to Finance and Retail & E-commerce, suggesting a lower average funding per project/company.
3. Retail & E-commerce: With the second-highest funding $76.16 bn and a significant count 303,
Retail & E-commerce appears to be a rapidly growing sector.
4. Education & Training and Logistics & Transportation: These sectors have a consistent performance, with a moderate count 294 and 199 respectively
and moderate funding $6.47 bn and $5.27 bn, respectively
5. Healthcare and Food & Beverage: These sectors have a stable presence, with a moderate count 274 and 145, respectively
and moderate funding $5.04 bn and 4.32 bn, respectively
6. Media & Entertainment and Industrial & Manufacturing: These sectors have a relatively lower count 188 and 145 respectively
but still received significant funding $4.04 bn and $1.53 bn respectively, indicating a niche presence.
7. Multinational conglomerate company: With only a count of 1, this sector received a significant funding $2.2 bn,
highlighting the influence of large conglomerates.

In [ ]:
# Set figure size
plt.figure(figsize = (10, 5))
# Create horizontal bar chart of stages by total amount received
df_combined.groupby(by = ["stage"])["amount"].sum().sort_values(ascending = False).plot(kind = "barh")
# Add title to plot
plt.title("Funding stages by Total Amount Received")
# Label x-axis
plt.xlabel("Total Amount")
# Label y-axis
plt.ylabel("Funding Stage of Startup")
# Display plot
plt.show()

Most startups are in the Early Traction (1562) and Validation (743) stages,
suggesting that many startups are in the process of proving their concepts and gaining initial traction.

The Exit Options stage has the highest total funding ($150.93 billion),
indicating significant investments and returns at the point where startups are either going public or being acquired.
This is expected since these startups have matured and are exiting.

# 8. Analytical Question

1. #### How have funding trends evolved over the years?
a) Funding trend over ther years

In [ ]:
plot = df_combined.groupby("year_funded")["amount"].sum()
df_plot = pd.DataFrame(plot).reset_index()

# set style
sns.set_style("darkgrid")

# Plot line plot with seaborn
plt.figure(figsize = (10, 5))
ax = sns.lineplot(data=df_plot, x="year_funded", y="amount", marker="o")

plt.title("Funding Trend Over the Years")
plt.xlabel("Funding Year")
plt.ylabel("Total Amount ($ Billion)")

# Configure the x-axis to display major ticks at yearly intervals
ax.xaxis.set_major_locator(YearLocator())
# Format the y-axis labels to display values in billions of dollars with a 'B' suffix
ax.yaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

# Adding labels to the points
for i, row in df_plot.iterrows():
    year = row["year_funded"]
    y_value = row["amount"]
    label_text = f"{y_value / 1e9:.1f}B" if not pd.isna(y_value) else "N/A"
    plt.text(year, y_value, label_text, ha="right", va="bottom", color="black", fontsize=10)

plt.show()

**Observation**:

- The total funding starts at a relatively low level in 2018 and slight decrease in 2019, indicating either fewer investments or smaller amounts being invested compared to 2018 which could be associated with external factors
- The total funding starts to rise noticeably in 2020, suggesting increased investor confidence or more significant funding rounds.<br>
- Total Funding increased linearly and peaked in 2021, indicating a substantial influx of capital into startups.<br>
This trend suggests growing investor interest and confidence in the startup ecosystem, particularly in the last two years.

b) Funding evolution across funding stages over the years

In [ ]:
# Filter data for each stage
ideation = df_combined[df_combined["stage"] == "Ideation"]
validation = df_combined[df_combined["stage"] == "Validation"]
early_traction = df_combined[df_combined["stage"] == "Early Traction"]
scaling = df_combined[df_combined["stage"] == "Scaling"]
exit_options = df_combined[df_combined["stage"] == "Exit Options"]
others = df_combined[df_combined["stage"] == "Others"]

# Group by year and sum the funding amounts
ideation_grouped = ideation.groupby(by = "year_funded")["amount"].sum()
validation_grouped = validation.groupby(by = "year_funded")["amount"].sum()
early_traction_grouped = early_traction.groupby(by = "year_funded")["amount"].sum()
scaling_grouped = scaling.groupby(by = "year_funded")["amount"].sum()
exit_options_grouped = exit_options.groupby(by = "year_funded")["amount"].sum()
others_grouped = others.groupby(by = "year_funded")["amount"].sum()

fig, ax = plt.subplots(figsize = (10, 5))

ideation_grouped.plot(label = "Ideation", marker = "o")
validation_grouped.plot(label = "Validation", marker = "o")
early_traction_grouped.plot(label = "Early Traction", marker = "o")
scaling_grouped.plot(label = "Scaling", marker = "o")
exit_options_grouped.plot(label = "Exit Options", marker = "o")
others_grouped.plot(label = "Others", marker = "o")

# Configure the x-axis to display major ticks at yearly intervals
ax.xaxis.set_major_locator(YearLocator())
# Format the y-axis labels to display values in billions of dollars with a 'B' suffix
ax.yaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

plt.title("Funding Trends Across Stages Over the Years")
plt.xlabel("Funding Year")
plt.ylabel("Total Amount")
plt.legend()
plt.show()

**Observations**:

- There is a visible trend where substantial funding tends to occur in later stages Scaling and Exit Options rather than early stages Ideation,Validation, and Early Traction.
- This trend indicates that investors might be more willing to invest larger amounts as ventures progress towards later stages of development and potential exit scenarios

c) Funding trend across the top locations

In [ ]:
df_combined.groupby(by = "headquarter")["amount"].sum().sort_values(ascending = False)[:4]

In [ ]:
# Filter data for each sector
tech = df_combined[df_combined["headquarter"] == "Mumbai"]
finance = df_combined[df_combined["headquarter"] == "Bengaluru"]
retail = df_combined[df_combined["headquarter"] == "Gurgaon"]
education = df_combined[df_combined["headquarter"] == "Delhi"]

# Group by year and sum the funding amounts
tech_grouped = pd.DataFrame(tech.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
finance_grouped = pd.DataFrame(finance.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
retail_grouped = pd.DataFrame(retail.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
education_grouped = pd.DataFrame(education.groupby(by = ["year_funded"])['amount'].sum()).reset_index()

# Set figure size
fig, ax = plt.subplots(figsize=(10, 5))

# # Plot each sector with specific colors
sns.lineplot(data = tech_grouped, x = "year_funded", y = "amount", marker = "o", color = "black", label = "Mumbai")
sns.lineplot(data = finance_grouped, x = "year_funded", y = "amount", marker = "o", color = "red", label = "Bengaluru")
sns.lineplot(data = retail_grouped, x = "year_funded", y = "amount", marker = "o", color = "blue", label = "Gurgaon")
sns.lineplot(data = education_grouped, x = "year_funded", y = "amount", marker = "o", color = "green", label = "Delhi")


# Configure the x-axis to display major ticks at yearly intervals
ax.xaxis.set_major_locator(YearLocator())
# Format the y-axis labels to display values in billions of dollars with a 'B' suffix
ax.yaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

# Add title and labels
plt.title("Top 4 Location by Total Funding Across the Years ")
plt.xlabel("Funding Year")
plt.ylabel("Total Amount")
plt.legend()
plt.show()

**Observation**:

There is a significant disparity in funding trends, with Mumbai experiencing an exceptional surge in 2021, while other locations like Bengaluru show steady growth and Gurgaon and Delhi have more stable funding patterns.

d) Funding evoluton across top 4 sectors over the years?

In [ ]:
df_combined.groupby(by = "sector")["amount"].sum().sort_values(ascending = False)[:4]

In [ ]:
# Filter data for each sector
tech = df_combined[df_combined["sector"] == "Technology sector"]
finance = df_combined[df_combined["sector"] == "Finance sector"]
retail = df_combined[df_combined["sector"] == "Retail & E-commerce"]
education = df_combined[df_combined["sector"] == "Education & Training"]

# Group by year and sum the funding amounts
tech_grouped = pd.DataFrame(tech.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
finance_grouped = pd.DataFrame(finance.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
retail_grouped = pd.DataFrame(retail.groupby(by = ["year_funded"])['amount'].sum()).reset_index()
education_grouped = pd.DataFrame(education.groupby(by = ["year_funded"])['amount'].sum()).reset_index()

# Set figure size
fig, ax = plt.subplots(figsize=(10, 5))

# # Plot each sector with specific colors
sns.lineplot(data = tech_grouped, x = "year_funded", y = "amount", marker = "o", color = "black", label = "Technology")
sns.lineplot(data = finance_grouped, x = "year_funded", y = "amount", marker = "o", color = "red", label = "Finance")
sns.lineplot(data = retail_grouped, x = "year_funded", y = "amount", marker = "o", color = "blue", label = "Retail & E-commerce")
sns.lineplot(data = education_grouped, x = "year_funded", y = "amount", marker = "o", color = "green", label = "Education & Training")


# Configure the x-axis to display major ticks at yearly intervals
ax.xaxis.set_major_locator(YearLocator())
# Format the y-axis labels to display values in billions of dollars with a 'B' suffix
ax.yaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

# Add title and labels
plt.title("Top 4 Sectors by Total Funding Across the Years ")
plt.xlabel("Funding Year")
plt.ylabel("Total Amount")
plt.legend()
plt.show()

**Observations**:

- Finance had a massive surge in funding in 2021, dwarfing the funding amounts for the other sectors.
- The retail & e-commerce sector had a significant spike in 2020, possibly due to the pandemic's impact, but then dropped in 2021.
- The technology, education & training, and health care sectors have remained relatively stable and low in comparison.

### 2. Is there a correlation between the year a startup received funding and the amount of funding it received?

Plot the amount of funding against the year it was received. Calculate the correlation coefficient to quantify the relationship.

In [ ]:
# Perform linear regression
slope, intercept, rvalue, pvalue, stderr = stats.linregress(df_combined["year_funded"].dt.year, df_combined["amount"]/1e11)

fig, ax = plt.subplots(figsize=(10, 5))

# Plot scatterplot
sns.scatterplot(x = df_combined["year_funded"].dt.year, y = df_combined["amount"], ax = ax)
# Plot regression line
plt.plot(df_combined["year_funded"].dt.year, (slope*df_combined["year_funded"].dt.year)+intercept, color = "black")

# Annotate with the regression equation and statistics
plt.annotate("Y = %.3fx + %.3f\nR$^2$ = %.3f\nP = %.3f"%(slope, intercept, rvalue**2, pvalue),
             xy = (0.1, 0.7),
             xycoords = "figure fraction")


# Set title and labels
plt.title("Year of Funding Against Total Amount")
plt.xlabel("Year of Funding")
plt.ylabel("Total Amount")
plt.show()

**Observation**:
- There is no significant relationship between the year of funding and the total amount of funding based on the linear regression model.
- P value of 0.37 indicates that the year a startup received funding has no significant influence on the funding amount it received,<br>
taking a significant value of 0.05
- The significant increases in funding in 2020 and 2021 are likely due to specific external factors rather than a consistent trend over the years.

### 3. How does funding vary across the locations of startups' headquarters

In [ ]:
plot = df_combined.groupby(by = "headquarter")["amount"].sum().sort_values(ascending = False)[:10]
df_plot = pd.DataFrame(plot)
df_plot.reset_index(inplace = True)

# Set figure size
fig, ax = plt.subplots(figsize=(10, 5))
# Plot barplot
ax = sns.barplot(data = df_plot, x = "headquarter", y = "amount")

# Add data point to corresponding bars
for i, bar in enumerate(plt.gca().patches):
    height = bar.get_height()
    width = bar.get_width()
    x, y = bar.get_xy()
    plt.annotate(f"{int(height)/1e9:.1f}B", (x + width/2, y + height*1.01), ha = "center")

# Format the y-axis labels to display values in billions of dollars with a 'B' suffix
ax.yaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

plt.xticks(rotation=45)
plt.title("Top 10 Locations by Total Funding Amount")
plt.xlabel("Location")
plt.ylabel("Total Amount")
plt.show()

**Observation**:

These observations indicate a high concentration of funding in a few major cities, with Mumbai leading by a large margin.

### 4. Which sectors can be considered the most attractive?

a) Determine the top 10 sectors by total funding received

In [ ]:
top_ten_sectors = df_combined.groupby("sector")["amount"].sum().sort_values(ascending = False)[:10]

# Set style
sns.set_style("darkgrid")

# Plot barchart
fig, ax = plt.subplots(figsize=(10, 5))
top_ten_sectors.plot(kind = "barh", ax = ax)
plt.title("Top Ten Sectors by Total Funding Received")
plt.xlabel("Sector")
plt.ylabel("Amount $")

# Format the x-axis labels to display values in billions of dollars with a 'B' suffix
ax.xaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

# Annotate the bars
for i, (sector, amount) in enumerate(top_ten_sectors.items()):
    ax.annotate(f"{amount / 1e9:.1f}B", xy=(amount, i), ha='left', va='center', fontsize=10)

plt.show()

**Observation**:

These observations indicate that the Finance sector attracts the most funding, followed by Retail & E-commerce,<br>with a significant drop in funding amounts for the other sectors. This highlights the dominance of these two sectors in attracting investment.

b) Median funding per sector

In [ ]:
top_ten_sectors = df_combined.groupby("sector")["amount"].median().sort_values(ascending = False)[:10]

# Set style
sns.set_style("darkgrid")

# Plot barchart
fig, ax = plt.subplots(figsize=(10, 5))
top_ten_sectors.plot(kind = "barh", ax = ax)
plt.title("Top Ten Sectors by Median Funding Received")
plt.xlabel("Sector")
plt.ylabel("Median Amount ($)")

# Annotate the bars
for i, (sector, amount) in enumerate(top_ten_sectors.items()):
    if round(amount / 1e9, 1) < 1:
        ax.annotate(f"{amount / 1e6:.1f}M", xy=(amount+145e6, i), ha='right', va='center', fontsize=10)
    else:
        ax.annotate(f"{amount / 1e9:.1f}B", xy=(amount+10e7, i), ha='right', va='center', fontsize=10)

plt.show()

### 5. Is there a relationship between funding stage and the amount of funding?

a) Determine total funding per funding stage?

In [ ]:
funding_stage = df_combined.groupby("stage")["amount"].sum().sort_values(ascending = False)[:10]

# Set style
sns.set_style("darkgrid")

# Plot barchart
fig, ax = plt.subplots(figsize=(10, 5))
funding_stage.plot(kind = "barh", ax = ax)
plt.title("Total Funding per Stage")
plt.xlabel("Stage")
plt.ylabel("Total Amount (Billion $)")

# Format the x-axis labels to display values in billions of dollars with a 'B' suffix
ax.xaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e9)}B"))

# Annotate the bars
for i, (stage, amount) in enumerate(funding_stage.items()):
    ax.annotate(f"{amount / 1e9:.1f}B", xy=(amount, i), ha='left', va='center', fontsize=10)

plt.show()

**Observation**:

Most startups are in the Early Traction 1562 and Validation 743 stages,
suggesting that many startups are in the process of proving their concepts and gaining initial traction.

The Exit Options stage has the highest total funding $150.90 bn, indicating significant investments and returns at the point where startups are either going public or being acquired.
This is expected since these startups have matured and are exiting.

b) Determine median funding per stage

In [ ]:
funding_stage = df_combined.groupby("stage")["amount"].median().sort_values(ascending = False)[:10]

# Set style
sns.set_style("darkgrid")

# Plot barchart
fig, ax = plt.subplots(figsize=(10, 5))
funding_stage.plot(kind = "barh", ax = ax)
plt.title("Median Funding per Stage")
plt.xlabel("Stage")
plt.ylabel("Median Amount (Million ($)")

# Format the x-axis labels to display values in billions of dollars with a 'B' suffix
ax.xaxis.set_major_formatter(FuncFormatter(lambda x, _: f"{int(x / 1e6)}M"))

# Annotate the bars
for i, (stage, amount) in enumerate(funding_stage.items()):
    ax.annotate(f"{amount / 1e6:.1f}M", xy=(amount, i), ha='left', va='center', fontsize=10)

plt.show()

**Observation**:

From the hypothesis testing, it was concluded with 95% confidence that funding stage has significant influence on the funding startups receive.<br>
Also, It could be infered from the plots that startups that are more muture get more funding on average

### Summary

- **Increased Investor Confidence**The total funding for Indian startups has significantly increased, especially in 2020 and peaking in 2021. Investors are showing greater confidence in the potential of Indian start ups, leading to more sustaantial investments.this confidence is built on the historical sucess of previous startups and the promising prospects of newventures.
- **Global Economic Recovery** the Global economic recovery following the initial impact of the COVID-19 pandemic has likely played a role. As economies rebound there is more liquidity and willgness to invest in high-growth potential markets like India.
-compared to those in early stages like Ideation and Validation. This trend suggests that investors prefer to invest heavily in startups with proven business models and greater growth potential.
- **Regional Disparity**: Mumbai stands out with exceptional growth driven by its status as a financial hub, Bengaluru's steady rise backed by its tech ecosystem , Gulgan and Delhi exhibit more stable funding patterns. This suggests that certain locations are more attractive to investors, possibly due to favorable ecosystems or industry concentrations.
- **Sectoral Analysis**: Finance experienced a massive surge in funding, overshadowing other sectors significantly. Retail & e-commerce had a spike in 2020, possibly influenced by the pandemic, but experienced a drop in 2021. Technology, education & training, and healthcare sectors remained relatively stable.
- **Influence of Funding Stage**: Hypothesis testing confirms that the stage of development significantly influences the funding startups receive. Mature startups attract the highest funding, indicating investor confidence in potential returns.

### Recommendations

**1. Investment Strategy**:
- **Growth Stage Investment**: Investment in later stages to help scale successful startups. these investment typically carry less risk and can provide substantial returns as companies expand.
- **Geographical Diversification**: Understanding the regional dynamics is crucial for both startups and investors. Mumbai's exceptional growth signals opportunities, while stable patterns in other cities suggest reliability. Investors should focus on top-funded locations like Mumbai, and Bengaluru.
- **Sectorial**: stakeholders should focus on the finance sector and also capitalize on diffrent growth areas like technology,healthcare,fintech,agritech and clean energy. 

**2. Use Of Technology And Data**: Data driven decision making ,use advanced analytics and data to identify trends, assess risks and make informed investment decisions.
**Platform for Startups and Investors** Develop platforms that connect startups with potential investors ,offering features like dedal sourcing,due diligence and perfomance tracking.